<div class="grid_12">
  <h1>Team Setup</h1>
  <div class="bubble">
    <% form_for(@team, :url => teams_url) do |f| %>
      <%= f.error_messages %>

      <div class="minititle">Team name</div>
      <div><%=h current_user.team_name %></div>
      <br/>

      <p>
        <%= f.label :public, "Let others see your team's tasks and info?" %>
        <%= f.check_box :public, :style => 'vertical-align: middle;' %>
      </p>

      <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>
