<div id="task_<%= task.id %>" class="task <%= task.priority.downcase %> <%= task.status %> <%= 'ui-draggable ' if task.status != 'done' %>ui-widget ui-widget-content ui-corner-all">
  <div class="task_name ui-widget-header ui-corner-all ui-helper-clearfix">
    <span><%= task.name %></span>
    <div class="icons ui-corner-all">
      <%- if !task.description.blank? -%>
      <%= ui_icon('info') %>
      <%- end -%>
      <%= ui_icon('wrench') %>
      <%= ui_icon('trash') %>
    </div>
  </div>
  <div class="task_content ui-widget-content">
    <span class="status"><%= task.status.humanize %></span><br/>
    <div class="timeago" title="<%= task.status_changed_at.iso8601 %>"><%= task.status_changed_at %></div>
  </div>
  <%- if !task.description.blank? -%>
  <div class="description"><%= task.description %></div>
  <%- end -%>
</div>
