<%= javascript_include_tag 'jquery.timeago', 'jquery.rumblehelper' %>

<div id="dashboard">
<%= render :partial => 'tasks' %>
</div>

<div id="description_bubble" class="ui-corner-all"></div>
<script type="text/plain" id="tasks_url"><%= tasks_url %></script>
<script type="text/plain" id="members_url"><%= members_url %></script>
<script type="text/plain" id="auth_token"><%= @auth_token %></script>
<script type="text/plain" id="dashboard_url"><%= root_url %></script>
<% javascript_tag do %>
  $(function() {
    $.rumblehelper.dashboard.init(<%= current_user ? 'true' : 'false' %>);
  });
<% end %>
