<div class="prefix_4 grid_4 suffix_4">
  <h1><%= @task.new_record? ? "New" : "Edit" %> task</h1>
  <div class="bubble">
    <% form_for(@task) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name, :size => 20 %>
      </p>
      <p>
        <%= f.label :priority %><br />
        <%= f.select :priority, Task::PRIORITIES %>
      </p>
      <%= f.submit %> or <%= link_to 'Cancel', tasks_path %>
    <% end %>
  </div>
</div>
