<div class="prefix_3 grid_6 suffix_3">
<h1>Who you be?</h1>

<div class="bubble">
<%= stylesheet_link_tag 'openid' %>
<%= javascript_include_tag 'openid-jquery' %>

<% form_for @user, :url => account_url, :html => {:id => "openid_form"} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :member_id, "Which one are you?" %><br/>
    <%= f.collection_select :member_id, @members, :id, :nickname %>
  </p>

  <div id="openid_choice">
    What's your OpenID provider?
    <div id="openid_btns"></div>
  </div>
  <div class="clear"></div>

  <div id="openid_input_area">
    <div id="openid_label"></div>
    <input id="openid_username" type="text" />
    <%= f.hidden_field :openid_identifier, :value => "http://", :id => "openid_identifier" %>
  </div>

  <%= f.submit "Register" %>
<% end %>
</div>
</div>

<% javascript_tag do %>
  openid.init('openid_identifier');
<% end %>
