<%- @subtitle = 'Signup' -%>
<%= javascript_include_tag 'jquery.tooltip.min' %>

<div class="prefix_3 grid_6 suffix_3">
<h2>Who you be?</h2>

<div class="bubble">
<%= stylesheet_link_tag 'openid' %>
<%= javascript_include_tag 'openid-jquery' %>

<% form_for @user, :url => account_url, :html => {:id => "openid_form"} do |f| %>
  <%= f.error_messages %>

  <div class="fleft">
    <%= f.label :api_key, "Your Rumble API Key" %>
    <%= ui_icon('info', 'title' => "Get this from your Rumble profile page") %>
  </div>
  <div class="clear"></div>
  <div><%= f.text_field :api_key %></div>
  <br/>

  <%= render :partial => 'openid', :locals => { :f => f } %>

  <%= f.submit "Register" %>
<% end %>
</div>
</div>

<% javascript_tag do %>
  openid.init('openid_identifier');
  $('.ui-icon-info').tooltip();
<% end %>
