<div class="prefix_3 grid_6 suffix_3">
<h1>Who you be?</h1>

<div class="bubble">
<%= stylesheet_link_tag 'openid' %>
<%= javascript_include_tag 'openid-jquery' %>

<% form_for @user, :url => account_url, :html => {:id => "openid_form"} do |f| %>
  <%= f.error_messages %>

  <%- if @num_users == 0 -%>
  <div><%= f.label :member_id, "Which team member are you?" %></div>
  <div><%= f.collection_select :member_id, @members, :id, :nickname %></div>
  <br/>
  <%- else -%>
  <div><%= f.label :invitation_code %></div>
  <div><%= f.text_field :invitation_code %></div>
  <br/>
  <%- end -%>

  <%= render :partial => 'openid', :locals => { :f => f } %>

  <%= f.submit "Register" %>
<% end %>
</div>
</div>

<% javascript_tag do %>
  openid.init('openid_identifier');
<% end %>
