<table class="config">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</td>
    </tr>
  </thead>
  <tbody>
    <% @config.each do |config| %>
    <tr<%= cycle("", " class='alt'") %>>
      <td class="name"><%= config.name.titleize %></td>
      <td id="config_<%= config.id %>" class="value"><%= config.value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div style="font-size: smaller">
  (Hint: try clicking the values to change them!)
</div>
<% javascript_tag do %>
  $('.value').click(function() {
    obj = $(this);
    if (obj.hasClass('editing')) {
    }
    else {
      obj.addClass('editing');
      current = obj.html();
      id = this.id.substring(8);

      input = $("<input type='text' />");
      input.val(current);
      input.keydown(function(e) {
        if (e.keyCode == 27) {
          obj.html($(this).val());
          obj.removeClass('editing');
        }
        else if (e.keyCode == 13) {
          value = $(this).val();
          data = {
            _method: 'put', 'config[value]': value,
            authenticity_token: '<%= @token %>'
          };
          $.ajax({
            url: '<%= config_url %>/'+id+'.xml',
            data: data,
            type: 'POST',
            complete: function() {
              obj.html(value);
              obj.removeClass('editing');
            }
          });
        }
      });

      obj.html(input);
      input.select();
    }
  });
<% end %>
